# News Story Trend Analysis

#### Import the required packages

In [1]:
from utils.packages import *
from utils.data_prep import *
from utils.modelling import *
from config.variables import *

 Found and Using 1 GPU

#### Read data

Omitting the last record to avoid delimitation issue

In [2]:
data["df"] = pd.read_csv('data/data.csv', nrows=8130)

In [3]:
data["df"].head(2)

,DATE,TIME,UNIQUE_STORY_INDEX,EVENT_TYPE,PNAC,STORY_DATE_TIME,TAKE_DATE_TIME,HEADLINE_ALERT_TEXT,ACCUMULATED_STORY_TEXT,TAKE_TEXT,PRODUCTS,TOPICS,RELATED_RICS,NAMED_ITEMS,HEADLINE_SUBTYPE,STORY_TYPE,TABULAR_FLAG,ATTRIBUTION,LANGUAGE
0,2013-06-01,00:00:00.704,20130601000000nASA05F0W,ALERT,nASA05F0W,2013-06-01 00:00:00,2013-06-01 00:00:00,MERCATOR MINERALS ANNOUNCES SENIOR MANAGEMENT ...,NaN,NaN,E U CAN,MNGISS BACT MET BMAT MIN MINE MTAL CMPNY CA AM...,ML.TO,NaN,NaN,S,False,RTRS,EN
1,2013-06-01,00:00:00.885,20130601000001nS6N0A8042,ALERT,nS6N0A8042,2013-06-01 00:00:01,2013-06-01 00:00:01,S.KOREA SAYS MAY TRADE BALANCE AT PROVISIONAL ...,NaN,NaN,M D T E C MTL GRO SOF O,EMRG KR MCE ECI NEWS TRD ASIA TRACC LEN RTRS,KRIMGR=ECI KRTBAL=ECI 0#KRCOMP1=KQ KREXGR=ECI ...,NaN,NaN,S,False,RTRS,EN

#### Languages

In [4]:
data['df']['LANGUAGE'].value_counts()

EN    3782
AR     736
FR     584
ZH     518
JA     460
DE     270
KO     266
ES     205
TH     204
PT      69
RU      39
TR      18
PL      16
NO      10
DA       2
SV       2
Name: LANGUAGE, dtype: int64

#### Other Language rows
We can translate other languages to english using services like Microsoft Azure cognitive services. 
But considering the time available and English rows being the majority, I choose to subset the dateset with only English records

In [5]:
print(f'source csv file len with all lang rows : {len(data["df"])}')
data['df'] = data['df'][data['df']['LANGUAGE'] == 'EN']
print(f'source csv file len with only EN rows : {len(data["df"])}')

source csv file len with all lang rows : 8130
source csv file len with only EN rows : 3782

In [12]:
data['df']['PRODUCTS'].value_counts()

TEST                     682
S                        208
S EMK PSC RNP DNP PSP    152
IFRF FXBUZ BUZ           104
ELN                       92
                        ...
E J U NAW EMK              1
D T MNI NAT                1
D T E U NAW Z              1
E MEYE SNI SNS U NAW       1
E MEYE SNI SNS             1
Name: PRODUCTS, Length: 534, dtype: int64

#### Test Records
Filtering out test message rows as they dont have any valuable inputs

In [14]:
print(f'source csv file len with all lang rows : {len(data["df"])}')
data['df'] = data['df'][data['df']['PRODUCTS'] != 'TEST']
print(f'source csv file len with only EN rows : {len(data["df"])}')

source csv file len with all lang rows : 3782
source csv file len with only EN rows : 3100

In [20]:
data['df'].to_excel('data/reduced_data.xlsx')

#### Highlevel description of data

In [16]:
data["df"].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3100 entries, 0 to 8129
Data columns (total 19 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   DATE                    3100 non-null   object
 1   TIME                    3100 non-null   object
 2   UNIQUE_STORY_INDEX      3100 non-null   object
 3   EVENT_TYPE              3100 non-null   object
 4   PNAC                    3100 non-null   object
 5   STORY_DATE_TIME         3100 non-null   object
 6   TAKE_DATE_TIME          1603 non-null   object
 7   HEADLINE_ALERT_TEXT     3094 non-null   object
 8   ACCUMULATED_STORY_TEXT  107 non-null    object
 9   TAKE_TEXT               1497 non-null   object
 10  PRODUCTS                3100 non-null   object
 11  TOPICS                  3100 non-null   object
 12  RELATED_RICS            878 non-null    object
 13  NAMED_ITEMS             727 non-null    object
 14  HEADLINE_SUBTYPE        1414 non-null   float64
 15  STORY_TYPE              3100 non-null   object
 16  TABULAR_FLAG            3100 non-null   object
 17  ATTRIBUTION             3100 non-null   object
 18  LANGUAGE                3100 non-null   object
dtypes: float64(1), object(18)
memory usage: 484.4+ KB

In [21]:
data['df'].head(2)

,DATE,TIME,UNIQUE_STORY_INDEX,EVENT_TYPE,PNAC,STORY_DATE_TIME,TAKE_DATE_TIME,HEADLINE_ALERT_TEXT,ACCUMULATED_STORY_TEXT,TAKE_TEXT,PRODUCTS,TOPICS,RELATED_RICS,NAMED_ITEMS,HEADLINE_SUBTYPE,STORY_TYPE,TABULAR_FLAG,ATTRIBUTION,LANGUAGE
0,2013-06-01,00:00:00.704,20130601000000nASA05F0W,ALERT,nASA05F0W,2013-06-01 00:00:00,2013-06-01 00:00:00,MERCATOR MINERALS ANNOUNCES SENIOR MANAGEMENT ...,NaN,NaN,E U CAN,MNGISS BACT MET BMAT MIN MINE MTAL CMPNY CA AM...,ML.TO,NaN,NaN,S,False,RTRS,EN
1,2013-06-01,00:00:00.885,20130601000001nS6N0A8042,ALERT,nS6N0A8042,2013-06-01 00:00:01,2013-06-01 00:00:01,S.KOREA SAYS MAY TRADE BALANCE AT PROVISIONAL ...,NaN,NaN,M D T E C MTL GRO SOF O,EMRG KR MCE ECI NEWS TRD ASIA TRACC LEN RTRS,KRIMGR=ECI KRTBAL=ECI 0#KRCOMP1=KQ KREXGR=ECI ...,NaN,NaN,S,False,RTRS,EN